/* Estilo básico do corpo */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header {
    background: linear-gradient(135deg, #6A5ACD, #483D8B);
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Barra de navegação */
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #6A5ACD;
    border-radius: 5px;
}

/* Estilo da seção de saldo */
section#saldo {
    margin: 40px 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

section#saldo h2 {
    color: #1d241d;
}

.saldo-box {
    font-size: 2.5em;
    margin: 20px 0;
    color: #333;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

#btn-registrar-gasto {
    background-color: #6A5ACD;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn-registrar-gasto:hover {
    background-color: #1d241d;
}

/* Estilo do rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    section {
        margin: 20px 10px;
    }

    .saldo-box {
        font-size: 2em;
    }
}
